<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="cms-type" content="singleton">
    <meta name="cms-name" content="Home">
    <title cms="pageTitle" class="cms-inner">Home</title>
</head>

<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/blog">Blog</a>
    </nav>
    <hr>

    <h1 cms="pageTitle" class="cms-inner">Welcome to My Site</h1>
    <p cms="heroSubtitle" class="cms-inner">A simple demonstration website.</p>

    <p>
        <a cms="aboutLinkText" class="cms-inner cms-href" href="/about">Learn More</a><br><br>
        <a cms="blogLinkText" class="cms-inner cms-href" href="/blog">Read Blog</a>
    </p>

    <ul>
        <li cms="listItems" class="cms-repeat">
            <span cms="itemTextBold" class="cms-inner" style="font-weight: bold;">bold</span>
            <span cms="itemTextNormal" class="cms-inner">normal</span>
        </li>
    </ul>

</body>

</html>